/*csslint ids: false*/
a{
    text-decoration: none;
}

body{
font-family: 'Open Sans', sans-serif;
}

#wrapper{
    margin: 0 auto;
    max-width: 940px;
    padding: 0 5%;
}

#logo{
    margin: 0;
    text-align: center;
}

h1{
font-family: 'Exo 2', sans-serif;
    font-size: 1.75em;
margin: 15px 0;
    
}

h2{
font-size: 0.75em;
    font-weight: normal;
    margin: -5px 0 0;
    
}

nav{
     margin: 20px 0 0;
    padding: 10px 0 ;
text-align: center;
}

footer{
 color: #ccc;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}


.social-media-icon{
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

#gallery{
    list-style: none;
margin: 0;
padding: 0;
}

#gallery li{
    background-color: lightgray;
    color: #bdc3c7;
float: left;
margin: 2.5%;
    width: 45%;
}

gallery li a p{
color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

body{
background-color: steelblue;
    color: #999;
}

.profile-photo{
    border-radius: 15%;
display: block;
    max-width: 0 auto 30px;
}

.contact info li.mail a{
background-image: url('../img/mail.png');
}

.contact info li.mail a{
background-image: url('../img/twitter.png');
}

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 10px;
}

a{
color: #6ab47b;
}

header{
background-color: orange;
}

h1, h2 {
color: #fff;
}

nav{
background: #599a68;
}

nav a, nav a:visited{
color: #fff;
}

nav a.selected, nav a:hover {
color: #32673f;
}